body,
html {
  margin: 0;
  background-color: hsl(21, 84%, 81%);
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

#app {
  height: 94dvh;
  width: 94dvw;
  margin: 3dvh 3dvw;
  background-color: rgba(249, 230, 208, 0.897);
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr 4fr;
  overflow: hidden;
  box-shadow: 2px 2px 6px rgba(78, 42, 21, 0.3);
}

#app > div:first-child {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  
}

#app > div:last-child {
  padding: 3.5rem;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 20%));
  gap: 1.3rem;
}
